  .contents__top
    / .contents__top__icon
    .contents__top__nickname
    .contents__top__date
  .contents__center
    .contents__center__img
    .contents__center__title
    .contents__center__text
  .contents__bottom
    .contents__bottom__left
    .contents__bottom__right
