.contents__container
  .contents__container__top
    .contents__container__top__icon
    .contents__container__top__nickname
      / = post_text.
    .contents__container__top__date
      / = post_text.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .contents__container__center
    .contents__container__center__headerimg
      / = post_text.header_image
    .contents__container__center__title
      / = post_text.title
    .contents__container__center__text
      / = post_text.text
    .contents__container__center__text__img
      / = post_text.img
    .contents__container__center__bottom
      .contents__container__center__bottom__left
        %ul
          %li
            = fa_icon ("heart 2x")
          %li
            = fa_icon ("arrow-right 2x")
          %li
            = fa_icon ("plus 2x")
      .contents__container__center__bottom__right
        = link_to "コメントする(削除）"
        / , post_text_path, method => delete
