%body.ns-note.bg-default
  %main{:style => ""}
    .header
      %h2.logo
        %a{"ng-click" => "goHome()"} note
    .register-container{"ng-init" => "init_entry()", "ng-show" => "!submitted && !guest_status"}
      .register__title-container{"ng-if" => "nourlname"}
        %p.register__title.u-mbM noteに登録する
      %form.space-reset.ng-pristine.ng-valid.ng-valid-minlength{:name => "entry_form", "ng-submit" => "entry_submit()"}
        %div{"ng-show" => "via != 'email'"}
          .form-stacked
            / /ニックネーム
            .space-bottom-2
              ニックネーム（登録後に変更可能）
              %input.ng-pristine.ng-valid.ng-touched{:name => "nickname", "ng-model" => "$parent.nickname", :placeholder => "例：ノート君（任意）", :style => "", :tabindex => "1", :type => "text"}/
            / /メールアドレス
            .space-bottom-2
              メールアドレス
              %input.ng-pristine.ng-valid.ng-touched{:name => "email", "ng-model" => "email", :placeholder => "例：mail@note.mu", :style => "", :tabindex => "1", :type => "text"}/
            / /パスワード
            .space-bottom-2
              パスワード
              %input.ng-pristine.ng-untouched.ng-valid.ng-valid-minlength{"delayed-validation" => "true", :name => "password", "ng-minlength" => "6", "ng-model" => "password", :placeholder => "例：6文字以上の半角英数", :tabindex => "1", :type => "password"}/
            .space-bottom-2
              パスワード再入力
              %input.ng-pristine.ng-untouched.ng-valid.ng-valid-minlength{"delayed-validation" => "true", :name => "password", "ng-minlength" => "6", "ng-model" => "password", :placeholder => "再入力", :tabindex => "1", :type => "password"}/
            / /利用規約に同意する
            .txt-center.space-t-1h.space-b-1h
              %input.ng-pristine.ng-untouched.ng-valid{"delayed-validation" => "true", :name => "terms", "ng-model" => "terms", :tabindex => "1", :type => "checkbox"}/
              %span.txt-xsmall
                %a.link-green{:href => "/terms", :target => "_blank"}> 利用規約
                に同意する
            / /登録ボタン
            %button.button-full.button-high.button-txtbig{"analytics-category" => "button", "analytics-event" => "signup-finish", "analytics-label" => "signup-finish-email", "analytics-on" => "click", "ng-if" => "!auth.provider"}
              .sending_msg{"ng-show" => "!sending"}
                登録する（無料）
      .signup-with-oauth{"ng-if" => "!auth.provider && via != 'email'"}
        %p.register__sub-title ソーシャルアカウントで登録
        %ul.u-flexboxBasic
          %li
            %a.btn.btn-twitter.btn-taller.btn-full.space-bottom-1.u-textBold{"analytics-category" => "button", "analytics-event" => "twitter-signup", "analytics-label" => "twitter-signup", "analytics-on" => "click", :follow => "$location.search().follow", :from => "$location.search().from", :href => "", :likables => "$location.search().likables", :like => "$location.search().likable_id", :magazine => "$location.search().magazineFollow", :nkey => "$location.search().nkey", "note-auth-link" => "true", :nourlname => "nourlname", :provider => "'twitter'", :redirect => "$location.search().redirectPath"}
              %span.icon-small.icon-small-twitter
              Twitter
          %li
            %a.btn.btn-facebook.btn-taller.btn-full.space-bottom-1.u-textBold{"analytics-category" => "button", "analytics-event" => "facebook-signup", "analytics-label" => "facebook-signup", "analytics-on" => "click", :follow => "$location.search().follow", :from => "$location.search().from", :href => "", :likables => "$location.search().likables", :like => "$location.search().likable_id", :magazine => "$location.search().magazineFollow", :nkey => "$location.search().nkey", "note-auth-link" => "true", :nourlname => "nourlname", :provider => "'facebook'", :redirect => "$location.search().redirectPath"}
              %span.icon-small.icon-small-facebook
              Facebook
      .register__login{"ng-show" => "!auth.provider"}
        %p.txt-center.space-b-1h
          %a.link-green{:href => "/login"} ログイン
        %p.txt-center{"ng-if" => "via != 'email'"}
          cakesアカウントをお持ちの方は
          %a.link-green{:href => "/login"} こちら
