.header__upper{
  align-items: center;
  padding-top: 15px;
  height:64px;
  width: 100%;
  &__logo{
    float: left;
    margin-left: 16px;
  }
  ul{
    li{
      float: right;
    }
  }
  &__lists{
    &__search{
      box-sizing: border-box;
      position: relative;
      border: 1px solid #999;
      padding: 3px 10px;
      border-radius: 20px;
      height: 37px;
      width: 300px;
      overflow: hidden;
      &__text{
        border: 5px;
        height: 2.0em;
      }
      &__text:focus{
        outline: 0;
      }
      &__botton{
        cursor: pointer;
        font-family: FontAwesome;
        font-size: 1.3em;
        border: none;
        background: none;
        color: $base_color;
        position: absolute;
        width: 2.5em;
        height: 2.5em;
        right: 0;
        top: -10px;
        outline : none;
      }
    }
    &__user-icon{
      height: 48px;
      width: 48px;
      line-height: 48px;
      color: $base_color;
      margin: 0 16px;
    }
    &__note-botton{
      &__submit{
        height: 37px;
        width: 180px;
        border-radius: 8px;
        background-color: $base_color;
        margin-right: 16px;
        line-height: 2.5em;
        text-align: center;
        font-size: 15px;
        color: white;
      }
    }
  }
}
.header__lower{
  height: 102px;
  clear: left;
  // line-height: 48px;
  padding: 0 16px 15px 16px;
  color: #787c7b;
  ul{
    text-align: center;
    li{
      font-size: 15px;
      float: left;

    }
  }
  &__top{
    height: 48px;
    color: #787c7b;
    font-size: 14px;
    padding-bottom: 15px;
    &__list{
      background-color: $base_color;
      border-radius: 5px;
      height: 48px;
      width: 115px;
      line-height: 48px;
      text-align: center;
      margin-right: 10px;
    }
    &__list:hover{
      background-color: red;
    }
    &__right{
      float: right;
      color: #787c7b;
    }
  }
  &__bottom{
    border-top: 1px solid;
    height: 54px;
    line-height: 54px;
    color: #787c7b;
    clear: both;
    &__list{
      padding:0 30px;
    }
  }
}


