.header__upper{
  align-items: center;
  padding-top: 15px;
  height:64px;
  width: 100%;
  &__logo{
    float: left;
    margin-left: 16px;
  }
  ul{
    li{
      float: right;
    }
  }
  &__lists{
    &__search{
      box-sizing: border-box;
      position: relative;
      border: 1px solid #999;
      padding: 3px 10px;
      border-radius: 20px;
      height: 37px;
      width: 300px;
      overflow: hidden;
      &__text{
        border: 5px;
        height: 2.0em;
      }
      &__text:focus{
        outline: 0;
      }
      &__botton{
        cursor: pointer;
        font-family: FontAwesome;
        font-size: 1.3em;
        border: none;
        background: none;
        color: $base_color;
        position: absolute;
        width: 2.5em;
        height: 2.5em;
        right: 0;
        top: -10px;
        outline : none;
      }
    }
    &__user-icon{
      // height: 48px;
      // width: 48px;
      &__smile{
      height: 40px;
      width: 40px;
      line-height: 40px;
      color: $base_color;
      margin: 0 16px;
        img {
          height: 40px;
          width: 40px;
          border: none;
          border-radius: 20px;
          background-color: #f7f9f9;
        }
      }
    }
    &__note-botton{
      &__submit{
        height: 37px;
        width: 180px;
        border-radius: 8px;
        background-color: $base_color;
        margin-right: 16px;
        line-height: 2.5em;
        text-align: center;
        font-size: 15px;
        color: white;
      }
    }
  }
}
.header__lower{
  height: 102px;
  clear: left;
  // line-height: 48px;
  padding: 0 16px 15px 16px;
  color: #787c7b;
  ul{
    text-align: center;
    li{
      font-size: 15px;
      float: left;

    }
  }
  &__top{
    height: 48px;
    color: #787c7b;
    font-size: 14px;
    padding-bottom: 15px;
    &__list{
      background-color: $base_color;
      border-radius: 5px;
      height: 48px;
      width: 115px;
      line-height: 48px;
      text-align: center;
      margin-right: 10px;
    }
    &__list:hover{
      background-color: red;
    }
    &__right{
      float: right;
      color: #787c7b;
    }
  }
  &__bottom{
    border-top: 1px solid;
    height: 54px;
    line-height: 54px;
    color: #787c7b;
    clear: both;
    &__list{
      padding:0 30px;
    }
  }
}



.nav {
  // width: 150px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}
.nav li {
  position: relative;
  list-style: none;
}
.nav li a {
  display: block;
  width: 150px;
  height: 40px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 2.8;
  background: #9fb7d4;
  text-decoration: none;
  border-right: 1px solid #eee;
  box-sizing: border-box;
  margin-top: 20px;
}
.nav > li:hover > a {/*layer-1*/
  color: orange;
  background: #afc6e2;
}
.nav > li li:hover > a {/*layer-2*/
  color: olive;
  background: #afc6e2;
}
.nav li ul {
  top: 40px;
  left: -40px;
  position: absolute;
}
.nav li ul li {
  overflow: hidden;
  height: 0;
}
.nav li ul li a {
  border-top: 1px solid #eee;
}
.nav li:hover > ul > li {
  overflow: visible;
  height: 40px;
}
  // .nav li ul li ul {
  //   top: 0;
  //   left: 110px;
  // }
  // .nav li ul li ul:before {/*layer-2▷*/
  //   position: absolute;
  //   content: "";
  //   top: 15px;
  //   left: 30px;
  //   border: 5px solid transparent;
  //   border-left: 5px solid #fff;
  // }
  // .nav li ul li ul li:hover > a {/*layer-3*/
  //   color: pink;
  //   background: #afc6e2;
  // }
  // .nav li ul li ul.left {
  //   top: 0;
  //   left: -190px;
  // }
  .nav li ul li ul.left:before,/*layer-2-left▷*/
  .nav li ul li ul li ul.left:before {/*layer-3-left▷*/
    position: absolute;
    content: "";
    top: 15px;
    left: 190px;
    border: 5px solid transparent;
    border-right: 5px solid #fff;
  }
//   .nav li ul li ul.left li:hover > a {/*layer-2-left*/
//     color: pink;
//     background: #afc6e2;
//   }
//   .nav li ul li ul li ul.left li:hover > a {/*layer-3-left*/
//     color: purple;
//     background: #afc6e2;
//   }
// .content {
//   width: 750px;
//   height: 200px;
//   background: #eee;
//   margin: 0 auto;
//   padding: 10px;
//   text-align: left;
//   box-sizing: border-box;
// }

