// Place all the styles related to the post_texts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post__text{
  &__header{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid;
    color: #787c7b;
    &__center{
      text-align: center;
      line-height: 100px;
      // margin-top: 30px;
      position: relative;
      left: 48%;
      float: left;
    }
    &__right{
      ul{
        li{
          float: right;
          position: relative;
          padding-top: 30px;
        }
      }
      &__cancel{
        &__botton__submit{
          height: 40px;
          width: 180px;
          border-radius: 8px;
          background-color: $base_color;
          margin-right: 16px;
          line-height: 2.5em;
          text-align: center;
          font-size: 15px;
          color: white;
        }
      }
      &__post{
        &__botton{
          &__submit{
            height: 40px;
            width: 180px;
            border-radius: 8px;
            background-color: $base_color;
            margin-right: 16px;
            line-height: 2.5em;
            text-align: center;
            font-size: 15px;
            color: white;
          }
        }
      }
    }
  }
}

.post__text__contents{
  &__center{
    height: 500px;
    width: 620px;
    margin-left: 400px;
    &__img{
      height: 350px;
      width: 100%;
      text-align: center;
      line-height: 500px;
    }
    &__title{
      height: 50px;
      &__text{
        height: 50px;
        font-size: 30px;
        width: 100%;
        border-style: none;
      }
    }
    &__textarea{
      &__input{
      height: 200px;
      width: 100%;
      border-style: none;
      }
    }
  }
}



