// Place all the styles related to the post_texts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// post_text新規投稿画面
.post__text{
  &__header{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid;
    color: #787c7b;
    &__center{
      text-align: center;
      line-height: 100px;
      // margin-top: 30px;
      position: relative;
      left: 48%;
      float: left;
    }
    &__right{
      ul{
        li{
          float: right;
          position: relative;
          padding-top: 30px;
        }
      }
      &__cancel{
        &__botton__submit{
          height: 40px;
          width: 180px;
          border-radius: 8px;
          background-color: $base_color;
          margin-right: 16px;
          line-height: 2.5em;
          text-align: center;
          font-size: 15px;
          color: white;
        }
      }
      &__post{
        &__botton{
          &__submit{
            height: 40px;
            width: 180px;
            border-radius: 8px;
            background-color: $base_color;
            margin-right: 16px;
            line-height: 2.5em;
            text-align: center;
            font-size: 15px;
            color: white;
          }
        }
      }
    }
  }
}

// post_text詳細ページ/編集ページ
.post__text__contents{
  &__center{
    width: 620px;
    margin:100px 0 200px 400px;
    &__img{
      width: 100%;
      &__upload{
      display: none;
      }
      #header_preview{
      }
    }

    &__title{
      &__text{
        height: 50px;
        width: 100%;
        font-size: 50px;
        border-style: none;
      }
    }
    &__textarea{
      &__text{
        height: 350px;
        width: 100%;
        border-style: none;
        font-size: 20px;
        &__img{
          &__upload{
            display: none;
          }
        }
      }
    }
    &__submit{
      &__botton{
        height: 40px;
        width: 180px;
        margin: 0 auto;
        background-color: $base_color;
        border-radius: 8px;
        line-height: 2.5em;
        text-align: center;
        font-size: 15px;
        color: white;
        float: left;
        margin-right: 20px;
      }
    }
  }
}
