// Place all the styles related to the post_images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// post_image/index

  .contents__container__center{
    &__headerimg{
      // height: 300px;
      width: 100%;
      margin-top: 15px;
      position: relative;
      &__title{
        color: white;
        font-size: 40px;
        position: absolute;
        bottom: 0;
        margin: 0 0 20px 20px;
      }
    }
  }


// .contents__post{
//   width: 580px;
//   margin: 0 auto;
//   border: 1px solid #eee;
//   border-radius: 3px;
//   background-color: white;
//   margin-bottom: 30px;
//   &__image{
//     height: 400px;
//     width: 580px;
//     padding-top: 5px;
//     position: relative;
//     z-index: 1;
//     &__title{
//       color: white;
//       font-size: 30px;
//       position: absolute;
//       bottom: 0;
//       margin: 0 0 20px 20px;
//     }
//   }
//   img {
//     height: 40px;
//     width: 40px;
//     border: none;
//     border-radius: 20px;
//   }
//   &__bottom{
//     height: 65px;
//     width: 580px;
//     padding-top: 15px;
//     float: right;

//     &__right{
//       float: right;
//       line-height: 40px;
//       margin: 0 10px;
//       color: $base_color;
//       &__icon{

//       }
//       ul{
//         li{

//         }
//       }
//     }
//     &__name{
//       height: 22px;
//       line-height: 24px;
//       font-size: 16px;
//     }
//     &__date{
//       height: 18px;
//       line-height: 18px;
//       font-size: 12px;
//       padding-bottom: 15px;
//     }
//     ul{

//       li{
//         float: right;
//       }
//     }
//     &__right{
//       width: 100%;
//       height: 65px;
//       ul{
//         float: right;
//         li{

//         }
//       }
//     }
//     .btn-group{
//       float: right;
//       margin-right: 10px;
//       button.btn.dropdown-toggle{
//         font-size: 18px;
//         background-color: white;
//       }
//       .dropdown-menu{
//         text-align: center;
//         font-size: 18px;
//       }
//     }
//   }
// }


// post_image詳細ページ
.post__image__contents{
  &__center{
    width: 620px;
    margin:100px 0 200px 400px;
    &__img{
      width: 100%;
    }
    &__upload{
      display: none;
    }
    &__header-image-preview{
    }
    &__title{
      &__image{
        height: 50px;
        width: 100%;
        font-size: 50px;
        border-style: none;
      }
    }
    &__textarea{
      &__text{
        height: 350px;
        width: 100%;
        border-style: none;
        font-size: 20px;
        &__img{
          &__upload{
            display: none;
          }
        }
      }
    }
    &__submit{
      &__botton{
        height: 40px;
        width: 180px;
        margin: 0 auto;
        background-color: $base_color;
        border-radius: 8px;
        line-height: 2.5em;
        text-align: center;
        font-size: 15px;
        color: white;
        float: left;
        margin-right: 20px;
      }
    }
  }
}


// post_image/new
.post__text{
  &__header{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid;
    color: #787c7b;
    &__center{
      text-align: center;
      line-height: 100px;
      // margin-top: 30px;
      position: relative;
      left: 48%;
      float: left;
      &__textarea{
        font-size: 15px;
      }
    }
    &__right{
      ul{
        li{
          float: right;
          position: relative;
          padding-top: 30px;
        }
      }
      &__cancel{
        &__botton__submit{
          height: 40px;
          width: 180px;
          border-radius: 8px;
          background-color: $base_color;
          margin-right: 16px;
          line-height: 2.5em;
          text-align: center;
          font-size: 15px;
          color: white;
        }
      }
      &__post{
        &__botton{
          &__submit{
            height: 40px;
            width: 180px;
            border-radius: 8px;
            background-color: $base_color;
            margin-right: 16px;
            line-height: 2.5em;
            text-align: center;
            font-size: 15px;
            color: white;
          }
        }
      }
    }
  }
}
.post__text__contents__right{

  .form-group{
    textarea.form-control{
      font-size: 30px;
      .markdown{
        P{
          margin-top: 100px;
          float: right;
        }
      }
    }
  }
}

// image/new
.contents__markdown{
  #editor{
    #post_image_image_description{
      height: 100px;
      width: 50vw;
    }
    #input, #output {
      display: block;
      position: absolute;
      top: 0px;
      width: 50vw;
      // height:50vh;
      padding: 20px;
      outline: none;
      // border: 1px solid;
    }
    #input {
      margin-top: 150px;
      left: 0px;
      height: 100px;
      // border-right: 1px solid #eee;
    }
    #output {
      margin-top: 100px;
      right: 0px;
      font-size: 40px;
      height: 100vh;
    }
  }
  .form-group{
    width: 50vw;
    .form-control{
      border-style: none;
      height: 50px;
      padding-left: 20px;

    }
    &__icon{
      width: 50vw;
      margin-top: 110px;
      .image-preview{
        img{
          height: 400px;
          width: 500px;
        }
      }
    }
    .label{
      height: 30px;
      width: 30px;
    }
    .bootstrap-tagsinput{
      // width: 685px;
      margin-bottom: 30px;
    }
    &__button{

    }
  }
}




