.account-page {
    margin: 60px calc( (100% - 330px) / 2);
    background-color: #f7f9f9;

  .account-page__inner {
    width: 100%;
    // padding: 60px;
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Arial, "メイリオ", Meiryo, sans-serif;

    .account-page__inner-top {
      text-align: center;
      padding-bottom: 30px;
    }

    .account-page__inner-bottom {
      float: left;
      width: 330px;
      border: 1px solid #ddd;
      border-radius: 3px;
      padding: 15px;
    }
    &:after {
      clear: both;
      content: "";
      display: block;
    }
    h5 {
      text-align: center;
    }

  }

  .account-page__header {
    h2 {
      margin-bottom: 10px;
      letter-spacing: 3px;
      font-size: 40px;
      font-weight: 200;

      &:after {
        content: '';
        display: block;
        width: 60px;
        margin-top: 5px;
      }
    }

    h5 {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 200;
    }

    .btn {
      margin-top: 20px;
      color: #fff;
      background-color: #ccc;
      font-size: 14px;
    }
  }

  .field {
    margin-bottom: 10px;

    .field-label {
      padding: 10px 0;
      letter-spacing: 1px;
      font-size: 12px;
      font-weight: 200;

      i {
        font-size: 11px;
      }
    }

    .field-input {
      input {
        width: 296px;
        padding: 5px;
        letter-spacing: 1px;
        border-radius: 4px;
        border: 1px solid #ddd;
      }
    }
  }

  .btn {
    display: inline-block;
    height: 50px;
    width: 295px;
    padding: 0 30px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    border-radius: 4px;
  }

  input[type='submit'] {
    float: left;
    margin-top: 20px;
    color: #fff;
    background-color: #2cb696;
  }

  .field-label {
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }

  .field-input {
    .field_with_errors {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 12px;
}
::-moz-placeholder {
  color: #ccc; opacity: 1;
  font-size: 12px;
}
:-ms-input-placeholder {
  color: #ccc;
  font-size: 12px;
}

a.link-green{
  color: #249f80;
  text-decoration: none;
  font-weight: 200;
}

.actions {
  padding-bottom: 90px;
  border-bottom: 1px solid #ddd;
}

h5 {
  padding-top: 15px;
  font-size: 12px;
}

h4 {
  text-align: center;
  line-height: 50px;
  font-size: 18px;
}

.account-edit-page {
    margin: 15px calc( (100% - 552px) / 2);
    background-color: #f7f9f9;

  .account-edit-page__inner {
    width: 100%;
    // padding: 60px;
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Arial, "メイリオ", Meiryo, sans-serif;

    .account-edit-page__inner-top {
      text-align: center;
      border: 1px solid #ddd;
      border-radius: 3px;
      margin: 15px auto;
    }

    .account-edit-page__inner-bottom {
      float: left;
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 3px;
      padding: 25px 105px;
    }
    &:after {
      clear: both;
      content: "";
      display: block;
    }
    h5 {
      text-align: center;
    }
    ul {
      text-decoration: none;
      list-style: none;
    }
    .tabs:hover {
      border-bottom: 3px solid #222222;
    }
    .tab-menu {
      text-align: center;
      font-size: 12px;
      letter-spacing: 0em;
      display: inline-block;
      vertical-align: middle;
      list-style: none;
    }
    .tabs {
      // line-height: 1.2;
      font-weight: bold;
      margin-left: 5px;
      margin-right: 5px;
      text-align: center;
      // border-bottom: 3px solid #222222;
      display: block;
      height: 25px;
      padding-left: 5px;
      padding-right: 5px;
      float: left;
    }
    .tabs.current {
      border-bottom: 3px solid #222222;
    }
    .tabs a {
      text-decoration: none;
      color: #222222;
    }

  }

  .account-edit-page__header {
    h2 {
      margin-top: 10px;
      letter-spacing: 3px;
      font-size: 24px;
      font-weight: 200;
      line-height: 80px;

      &:after {
        content: '';
        display: block;
        width: 60px;
        margin-top: 5px;
      }
    }

    h5 {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 200;
    }

    .btn {
      margin-top: 20px;
      color: #fff;
      background-color: #ccc;
      font-size: 14px;
    }
  }

  .field {
    margin-bottom: 10px;

    .field-label {
      padding: 10px 0;
      letter-spacing: 1px;
      font-size: 12px;
      font-weight: 200;

      i {
        font-size: 11px;
      }
    }

    .field-input {
      input {
        font-size: 12px;
        width: 340px;
        padding: 5px;
        letter-spacing: 1px;
        border-radius: 4px;
        border: 1px solid #ddd;
      }
    }
  }

  .btn {
    display: inline-block;
    height: 50px;
    width: 340px;
    padding: 0 30px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    border-radius: 4px;
  }

  input[type='submit'] {
    float: left;
    margin-top: 20px;
    color: #fff;
    background-color: #2cb696;
  }

  .field-label {
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }

  .field-input {
    .field_with_errors {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}


.user-serch{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  &__form{
    padding-top: 50px;
    text-align: center;
    margin-bottom: 50px;
    P{
      input{
        height: 40px;
        input[id="serch"]{
          height: 50px;
          width: 300px;
        }
      }
    }
  }
  &__result{
    width: 100%;
    margin-left: 300px;
    &__icons{
      ul.avatar{
        height: 75px;
        width: 100%;
        line-height: 75px;
        font-size: 20px;
        margin-bottom: 30px;
        img {
        height: 75px;
        width: 75px;
        border: none;
        border-radius: 37px;
        float: left;
        margin-right: 30px;
        }
        a{
          float: left;
          font-size: 20px;
          line-height: 75px;

        }
      }
      ul.smile{
        height: 75px;
        width: 500px;
        line-height: 75px;
        float: left;
        margin-bottom: 30px;
        i{
          float: left;
          color: $base_color;
          margin-right: 30px;
        }
        a{
          font-size: 20px;
          float: left;
        }
      }
    }
  }
}

.modal-magazine-list {
  height: 100px;
  &__header-image {
    height: 80px;
    width: 80px;
    margin: 10px;
    float: left;
    img {
      height: 80px;
      width: 80px;
      border: none;
      border-radius: 1px;
      margin: 0 auto;
    }
    p {
      height: 80px;
      width: 80px;
      background-color: $base_color;
      border: none;
      border-radius: 1px;
    }
  }
  &__name {
    height: 80px;
    width: 300px;
    margin: 10px;
    vertical-align: middle;
    float: left;
    font-size: 14px;
    line-height: 80px;
  }
  &__add-btn {
    height: 80px;
    width: 110px;
    margin: 10px;
    vertical-align: middle;
    float: right;
    font-size: 14px;
    line-height: 80px;
    .add {
      border: 1px solid #ddd;
      color: #2cb696;
    }
  }
  &__new {
    height: 80px;
    margin: 20px;
    float: left;
    line-height: 80px;
  }
}





// .user-serch
//         .user-serch__form
//           .user-serch__form__box
//           = form_tag users_path, :method => 'get' do
//             .user-serch__form__box__button
//               = text_field_tag :search, params[:search]
//               = submit_tag "Search", :name => nil

//         .user-serch__result
//           .user-serch__users
//             - @users.each do |user|
//               .contents__container__top__icon
//                 - if current_user.avatar_image?
//                   = image_tag current_user.avatar_image
//                 - else
//                   = fa_icon ("smile 2x")
//                 = link_to user.name, user_path(user.id), class: "user-serch-icon"




















