.wrapper{
  width: 100%;
  .header{
    width: 940px;
    margin: 0 auto;
    color: rgba(0,0,0,0.05);
    background-color:white;
  }
  .contents{
    background-color: #F7F9F9;
    border-top: 2px solid #eee;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 50px 0;
  }
  .footer{
    background-color: wihte;
    padding: 20px 0 50px;
    height: 100px;
    width: 100%;
  }
}
